<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="/">Home</a>
  </li>
  {# Understand this loop better! #}	
  {% for post in collections.posts %}
    <li class="nav-item">
      <a class="nav-link" href="{{ post.url }}">{{ post.data.title }}</a>
    </li>
  {% endfor %}
  {# Include the "A Ode to a Mug" page in the navigation #}
  <li class="nav-item">
    <a class="nav-link" href="{{ '/about/page1/' | url }}">A Ode to a Mug</a>
  </li>
  {# static link TBD - maybe put about page here #}
  <li class="nav-item">
    <a class="nav-link" href="#">Static Link</a>
  </li>
</ul>

      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>